<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>

    <main class="container">
        <div id="inputArea">
            <h1 id="hint">Input Product Information</h1>
            <form action="/admin/add-product" method="POST">
                <div class="form-group">
                    <label for="productName">Product title</label>
                    <input class="inputField form-control" id="productTitle" type='text' name='title'
                        placeholder='Enter the product title'>
                    <br>
                    <label for="productPrice">Product price</label>
                    <input class="inputField form-control" id="productPrice" type='number' name='price'
                        placeholder='Enter the product price'>
                    <br>
                    <label for="productImg">Product image</label>
                    <input class="inputField form-control" id="productImg" type='text' name='img'
                        placeholder='Enter the product image name'>
                    <br>
                    <label for="productInfo">Product description</label>
                    <textarea class="inputField form-control" id="productInfo" type='text' name='info'
                        placeholder='Enter the description'></textarea>
                    <button class="btn btn-warning" type='submit'>Add Product</button>
                </div>
            </form>
        </div>

        <div id='addedProduct'>
            <div id='addedProduct__innerbox'>
                <ul id="addedProduct__list">
                    <% if (productList.length > 0) { %>
                    <% for (let product of productList) { %>
                    <li class="addedProduct__item">
                        <%= product.title %>
                    </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>
        </div>
    </main>
<%- include('../includes/foot.ejs') %>