main .card {
    margin: 1rem 1rem;
    display: inline-block;
}

.card img {
    object-fit: cover;
    min-height: 404px;
    padding: 6px;
}

.edit_button_icon {
    color: gray;
}

.delete_button_icon {
    color: rgb(226, 72, 72)
}

.productButtonSet {
    text-align: right;
}

.productPrice {
    font-size: large;
    color: coral;
    margin-bottom: 3px;
}

.productName {
    margin: 0;
}

.productInfo {
    font-size: small;
    margin:0;
}
