.inputArea {
    height: auto;
    padding-top: 25vh;
}

main h1 {
    display:table;
    margin: 1rem auto 3rem;
}

form > div {
    width: 300px;
    max-width: 90%;
    margin: auto;
}

input:focus, button:focus {
    outline: none;
}

.inputField {
    width: inherit;
    border-radius: 3px;
    border-color: dimgray;
    padding: 5px;
}

.submitBtn {
    display: block;
    margin: 1rem auto;
    border-radius: 5px;
    border-color: darkgray;
    border-width: thin;
}

form button:hover {
    border-color: dimgray;
}

@media only screen and (max-width: 800px) {
    #addedProduct {
        /* top: 10rem;
        left: 1rem; */
        width: 100%;
        height: auto;
        min-height: 100px;
    }
    
    #addedProduct__innerbox {
        padding-top: 1rem;
        background-color: rgba(218, 218, 211, 0.336);
        height: auto;
        min-height: 100px;
        width:100%;
        max-width: 300px;
        margin: auto;
    }
}

@media only screen and (min-width: 800px) {
    #addedProduct {
        position: fixed;
        top: 10rem;
        left: 1rem;
        background-color: rgba(218, 218, 211, 0.336);
        width: 200px;
        margin: auto;
        height: auto;
        min-height: 100px;
        padding-top: 1rem;
    }
}

.addedProduct__item {
    
}