.mainContent {
    margin-top: 3rem;
}

.productDetail_buttonSet {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.productDetail_buttonSet > * {
    /* display: inline-block; */
}

.productDetail_img {
    max-height: 500px;
    height: 500px;
    object-fit: cover;
}