<header class="mainHeader">
    <nav class="mainHeader__nav">
        <ul class="mainHeader__list">
            <li class="mainHeader__item <%= path == '/home' ? 'active' : '' %>"><a href="/home">Shop</a></li>
            <li class="mainHeader__item <%= path == '/add-product' ? 'active' : '' %>"><a href="/admin/add-product">Add product</a></li>
        </ul>
    </nav>
</header>