<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>

<main class="container">
    <h1>Cart page</h1>
    <% if (cart.products.length > 0) { %>
    <% for (let product of cart.products ) { %>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
            <div class="d-flex justify-content-between">
                <div class="img_wrapper">
                    <img class="cart_img" src="/img/<%= product.img %>">
                </div>
                <div class="content_wrapper">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                        blandit.</p>
                    <small>Donec id elit non mi porta.</small>
                </div>
            </div>
        </a>
    </div>
    <% } %>
    <% } %>
</main>

<%- include('../includes/foot.ejs') %>