extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/form.css")

block content
    main
        #inputArea
            h1#hint Input Product Information
            form(action="/admin/add-product" method="POST")
                .form-group
                    label(for="productName") Product name
                    input.inputField.form-control#productName(type='text' name='name' placeholder='Enter the product name')
                    br
                    label(for="productImg") Product image
                    input.inputField.form-control#productImg(type='text' name='img' placeholder='Enter the product image name')
                    br
                    label(for="productInfo") Product description
                    textarea.inputField.form-control#productInfo(type='text' name='info' placeholder='Enter the description')
                    button.btn.btn-warning(type='submit') Add Product