extends layouts/main-layout

block styles
    link(rel="stylesheet", href="/css/product.css")

block content
    main.container
        if productList.length > 0
            each product in productList
                <!-- var path = `/img/${product.img}`; -->
                    .card(style='width: 18rem;')
                        img.card-img-top.img-fluid(src=`/img/${product.img}`)
                        .card-body
                            h5.card-title.productName #{product.title}
                            p.card-text.productInfo #{product.info}
                            button.btn.btn-success(type='button') Add to Cart